BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
HTML {
	BACKGROUND: #f8f7f5; COLOR: #000
}
BODY {
	FONT-SIZE: 14px; FONT-FAMILY: 'Microsoft Yahei','Simsun'; BACKGROUND: #f8f7f5; OVERFLOW-X: hidden; -webkit-text-size-adjust: none
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
INPUT {
	VERTICAL-ALIGN: middle; OUTLINE-WIDTH: 0px; LINE-HEIGHT: normal; resize: none; -webkit-appearance: none
}
:unknown {
	FONT-SIZE: 14px
}
INPUT:unknown {
	FONT-SIZE: 14px
}
.clear {
	CLEAR: both
}
.clearfix:after {
	HEIGHT: 0px; CONTENT: ' '; CLEAR: both; DISPLAY: block
}
A {
	FONT-SIZE: 14px; COLOR: #545454; TEXT-DECORATION: none
}
.green {
	COLOR: #390
}
.red {
	COLOR: #f00
}
.blue {
	COLOR: #36c
}
.gray {
	COLOR: #454545
}
.orange {
	COLOR: #f60
}
.mtop5 {
	MARGIN-TOP: 5px
}
.mtop10 {
	MARGIN-TOP: 10px
}
.mtop15 {
	MARGIN-TOP: 15px
}
.fr {
	FLOAT: right
}
.mcenter {
	TEXT-ALIGN: center
}
#top {
	HEIGHT: 60px; BORDER-BOTTOM: #59c640 1px solid; BACKGROUND-COLOR: #27a70b
}
#top #logo {
	HEIGHT: 100%; FLOAT: left; WIDTH: 20%
}
#top #logo A {
	HEIGHT: 30px; BACKGROUND: url(../images/logo4.png) no-repeat 0px 0px; MARGIN-LEFT: 10px; MARGIN-TOP: 15px; DISPLAY: block; WIDTH: 128px; TEXT-INDENT: -9999px; -moz-background-size: 128px 29px; -webkit-background-size: 128px 29px; -o-background-size: 128px 29px; background-size: 128px 29px
}
#top #logoright {
	FLOAT: right; PADDING-TOP: 8px; WIDTH: 50%
}
#top #logoright #lrleft {
	FLOAT: left; WIDTH: 40%
}
#top #logoright #lrleft IMG {
	FLOAT: right; MARGIN-TOP: 4px
}
#top #logoright #lrright {
	FLOAT: right; COLOR: #fff; LINE-HEIGHT: 22px; WIDTH: 55%
}
#top #logoright #lrright A {
	COLOR: #fff
}
#nav {
	BORDER-TOP: #28990f 1px solid; HEIGHT: 35px; LINE-HEIGHT: 35px; WIDTH: 100%; BACKGROUND-COLOR: #27a70b
}
#nav LI {
	FLOAT: left; TEXT-ALIGN: center; WIDTH: 25%
}
#nav LI A {
	FONT-SIZE: 16px; HEIGHT: 35px; FONT-WEIGHT: bold; COLOR: #fff; MARGIN: 0px auto; DISPLAY: block
}
#famoussite {
	BORDER-TOP: #e9e9e9 1px solid
}
#famoussite LI {
	HEIGHT: 35px; FLOAT: left; TEXT-ALIGN: center; WIDTH: 20%
}
#famoussite LI A {
	BORDER-RIGHT: #e9e9e9 1px solid; BORDER-BOTTOM: #e9e9e9 1px solid; COLOR: #709375; DISPLAY: block; LINE-HEIGHT: 35px
}
UNKNOWN {
	BORDER-LEFT: #e9e9e9 1px solid
}
#newsnav #newsntop {
	BORDER-TOP: #cecece 1px solid; HEIGHT: 35px; BORDER-BOTTOM: #cecece 1px solid; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#EFEFEF'); LINE-HEIGHT: 35px
}
#newsnav #newsntop LI {
	FONT-SIZE: 14px; HEIGHT: 33px; FLOAT: left; COLOR: #657787; TEXT-ALIGN: center; WIDTH: 33%
}
#newsnav #newsntop LI.on {
	BORDER-BOTTOM: #559717 2px solid; COLOR: #559717
}
#newsncontent {
	OVERFLOW: hidden; POSITION: relative; CLEAR: both; MIN-HEIGHT: 104px; WIDTH: 100%
}
#newsnscroll {
	PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 300%
}
#newsnscroll LI {
	FLOAT: left; WIDTH: 33.33%
}
#newsnscroll LI A {
	HEIGHT: 30px; COLOR: #616365; PADDING-LEFT: 20px; DISPLAY: block; LINE-HEIGHT: 30px
}
#search {
	MARGIN-BOTTOM: 3px; FONT-SIZE: 0px; POSITION: relative; MARGIN-LEFT: 4px; LETTER-SPACING: -4px
}
#search #bdword {
	FONT-SIZE: 16px; BORDER-TOP: #d6d6d6 1px solid; HEIGHT: 28px; BORDER-RIGHT: #d6d6d6 0px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #d6d6d6 1px solid; PADDING-LEFT: 40px; BORDER-LEFT: #d6d6d6 1px solid; LETTER-SPACING: 0px; WIDTH: 80%; border-radius: 0; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px
}
#baidubtn {
	CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: #d6d6d6 1px solid; HEIGHT: 38px; BORDER-RIGHT: #d6d6d6 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/weixin.png) #fff no-repeat 10% 10px; RIGHT: 5px; MIN-WIDTH: 65px; BORDER-BOTTOM: #d6d6d6 1px solid; POSITION: absolute; FONT-WEIGHT: bold; COLOR: #679935; OUTLINE-WIDTH: 0px; TEXT-ALIGN: center; BORDER-LEFT: #d6d6d6 1px solid; Z-INDEX: 1; LETTER-SPACING: 0px; TOP: 0px; WIDTH: 20%; TEXT-INDENT: 12px; -moz-background-size: 17px 225px; -webkit-background-size: 17px 225px; -o-background-size: 17px 225px; background-size: 17px 225px; border-radius: 0; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px
}
#seicon {
	CURSOR: pointer; HEIGHT: 32px; BACKGROUND-IMAGE: url(../images/search640.png); BACKGROUND-REPEAT: no-repeat; POSITION: absolute; BACKGROUND-POSITION: 6px -135px; LEFT: 0px; Z-INDEX: 2; TOP: 0px; WIDTH: 40px; -webkit-background-size: 20px 235px; background-size: 20px 235px
}
.google#seicon {
	BACKGROUND-POSITION: 6px -92px
}
.easou#seicon {
	BACKGROUND-POSITION: 6px -49px
}
.roboo#seicon {
	BACKGROUND-POSITION: 6px -173px
}
.yicha#seicon {
	BACKGROUND-POSITION: 6px -207px
}
#seicon I {
	HEIGHT: 32px; BACKGROUND: url(../images/search640.png) no-repeat 0px -18px; RIGHT: 0px; POSITION: absolute; DISPLAY: block; TOP: 0px; WIDTH: 15px; -webkit-background-size: 20px 235px; background-size: 20px 235px
}
#selectse {
	BORDER-TOP: #c1c1c1 1px solid; BORDER-RIGHT: #c1c1c1 1px solid; BORDER-BOTTOM: #c1c1c1 1px solid; POSITION: absolute; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 5px; MARGIN-LEFT: -3px; BORDER-LEFT: #c1c1c1 1px solid; MARGIN-TOP: 10px; DISPLAY: none; LETTER-SPACING: 0px; PADDING-RIGHT: 5px; WIDTH: 310px; BACKGROUND-COLOR: #f5f5f5; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 1px 2px 3px #ddd; -moz-box-shadow: 1px 2px 3px #ddd; box-shadow: 1px 2px 3px #ddd
}
#selectse DL {
	HEIGHT: 30px; CLEAR: both; MARGIN-TOP: 5px; LINE-HEIGHT: 30px
}
#selectse DT {
	FONT-SIZE: 16px; FLOAT: left; FONT-WEIGHT: bold; COLOR: #282828; MARGIN-RIGHT: 3px
}
#selectse DD {
	FLOAT: left; MARGIN-LEFT: 5px
}
#selectse DD A {
	FONT-SIZE: 16px; BACKGROUND-IMAGE: url(../images/search640.png); BACKGROUND-REPEAT: no-repeat; PADDING-LEFT: 26px; DISPLAY: block; WIDTH: 36px; -webkit-background-size: 20px 235px; background-size: 20px 235px
}
#selectse DD A.on {
	COLOR: #fff; BACKGROUND-COLOR: #36a603
}
#selectse DD A.baidu {
	BACKGROUND-POSITION: 6px -138px
}
#selectse DD A.google {
	BACKGROUND-POSITION: 6px -96px
}
#selectse DD A.easou {
	BACKGROUND-POSITION: 6px -54px
}
#selectse DD A.roboo {
	BACKGROUND-POSITION: 6px -179px
}
#selectse DD A.yicha {
	BACKGROUND-POSITION: 6px -213px
}
#selectse I {
	HEIGHT: 10px; BACKGROUND: url(../images/search640.png) no-repeat 0px 0px; POSITION: absolute; LEFT: 10px; Z-INDEX: 1; DISPLAY: block; TOP: -10px; WIDTH: 20px; -webkit-background-size: 20px 235px; background-size: 20px 235px
}
.icbox {
	PADDING-BOTTOM: 5px
}
.icbox H2 {
	FONT-SIZE: 16px; HEIGHT: 40px; BACKGROUND-IMAGE: url(../images/weixin.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 13px -20px; COLOR: #fff; PADDING-LEFT: 35px; LINE-HEIGHT: 40px; BACKGROUND-COLOR: #19a5fd; -moz-background-size: 17px 225px; -webkit-background-size: 17px 225px; -o-background-size: 17px 225px; background-size: 17px 225px
}
.icbox H2 A {
	BACKGROUND-IMAGE: url(../images/weixin.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 13px -50px; FLOAT: right; COLOR: #fff; PADDING-LEFT: 25px; DISPLAY: block; MARGIN-RIGHT: 20px; -moz-background-size: 17px 225px; -webkit-background-size: 17px 225px; -o-background-size: 17px 225px; background-size: 17px 225px
}
.icbox DL {
	OVERFLOW: hidden; HEIGHT: 35px; CLEAR: both
}
.icbox DL:unknown {
	MARGIN-TOP: 5px
}
.icbox DL A {
	FONT-SIZE: 16px
}
.icbox DL DT {
	FLOAT: left; TEXT-ALIGN: center; PADDING-LEFT: 3px; WIDTH: 50px
}
.icbox DL DT A {
	FONT-SIZE: 16px; FONT-WEIGHT: bold; COLOR: #559717; LINE-HEIGHT: 35px
}
.icbox DL DD {
	FLOAT: left; MARGIN-LEFT: 5px
}
.icbox DL DD A {
	MIN-WIDTH: 45px; COLOR: #4b4b4b; DISPLAY: block; LINE-HEIGHT: 35px
}
.icbox H2#icbvideo {
	BACKGROUND-POSITION: 13px -78px; BACKGROUND-COLOR: #fb5d00
}
.icbox H2#icbmall {
	BACKGROUND-POSITION: 13px -110px; BACKGROUND-COLOR: #add655
}
.icbox H2#icbyule {
	BACKGROUND-POSITION: 13px -142px; BACKGROUND-COLOR: #ff9454
}
.icbox H2#icblife {
	BACKGROUND-POSITION: 13px -174px; BACKGROUND-COLOR: #19a5fd
}
H2.sitetitle {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 18px; BORDER-TOP: #e0e0e0 1px solid; HEIGHT: 36px; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; COLOR: #333; PADDING-LEFT: 10px; LINE-HEIGHT: 36px; -webkit-box-shadow: inset 0 1px #fff,inset 0 -1px #e9e9e9
}
H2.sitetitle:before {
	BORDER-TOP: #e7e7e7 10px solid; HEIGHT: 0px; BORDER-RIGHT: transparent 6px solid; POSITION: absolute; CONTENT: ""; LEFT: 25px; BORDER-LEFT: transparent 6px solid; TOP: 100%; WIDTH: 0px
}
#contentbox {
	FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 4px; LINE-HEIGHT: 20px; PADDING-RIGHT: 4px
}
#contentbox #cbtitle {
	FONT-SIZE: 16px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 3px; MARGIN: 5px auto
}
#foot {
	BORDER-TOP: #e6e6e6 1px solid; COLOR: #999; PADDING-BOTTOM: 7px; TEXT-ALIGN: center; PADDING-TOP: 7px; PADDING-LEFT: 0px; MARGIN-TOP: 10px; LINE-HEIGHT: 25px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #fbfbfb
}
.classtitle {
	BORDER-TOP: #d9d9d9 1px solid; HEIGHT: 35px; BORDER-BOTTOM: #3c8102 2px solid; COLOR: #3b8101; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#EEEEEE'); LINE-HEIGHT: 35px
}
.classtitle SPAN {
	BACKGROUND-IMAGE: url(../images/weixin.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 8px -204px; PADDING-LEFT: 15px; DISPLAY: block; -moz-background-size: 17px 225px; -webkit-background-size: 17px 225px; -o-background-size: 17px 225px; background-size: 17px 225px
}
.urllist {
	MIN-HEIGHT: 100px
}
.urllist LI {
	HEIGHT: 35px; FLOAT: left; LINE-HEIGHT: 35px; WIDTH: 25%
}
.urllist LI A {
	HEIGHT: 35px; BORDER-RIGHT: #e4e4e4 1px solid; BORDER-BOTTOM: #e4e4e4 1px solid; COLOR: #4b4b4b; TEXT-ALIGN: center; DISPLAY: block; LINE-HEIGHT: 35px
}
.recomlist {
	BACKGROUND-COLOR: #f8f7f5
}
.recomlist H3 {
	BORDER-TOP: #d9d9d9 1px solid; HEIGHT: 35px; BORDER-BOTTOM: #3c8102 2px solid; COLOR: #333; PADDING-LEFT: 15px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#FFFFFF',EndColorStr='#EEEEEE'); LINE-HEIGHT: 35px
}
.recomlist UL {
	PADDING-TOP: 5px
}
.recomlist LI {
	HEIGHT: 30px; BORDER-BOTTOM: #b8c8c6 1px solid; PADDING-LEFT: 8px; LINE-HEIGHT: 30px
}
.recomlist LI A {
	COLOR: #333
}
.toollist {
	MARGIN-TOP: 10px
}
.toollist UL LI {
	OVERFLOW: hidden; MARGIN-BOTTOM: 5px; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 25%
}
.toollist UL LI A {
	FONT-SIZE: 14px; POSITION: relative; COLOR: #36a603; MARGIN: 0px auto; DISPLAY: block; WIDTH: 71px
}
.toollist UL LI A I {
	CURSOR: pointer; HEIGHT: 57px; BACKGROUND: url(../images/round_box.png) no-repeat -75px 0px; POSITION: absolute; LEFT: 7px; TOP: 0px; WIDTH: 57px
}
H2.catlist {
	BORDER-TOP: #d9d9d9 1px solid; HEIGHT: 35px; BORDER-BOTTOM: #3c8102 2px solid; COLOR: #333; LINE-HEIGHT: 35px
}
H2.catlist SPAN {
	FONT-SIZE: 16px; FLOAT: left; MARGIN-LEFT: 5px
}
H2.catlist A {
	FONT-SIZE: 14px; FLOAT: right; FONT-WEIGHT: normal; COLOR: #247400; MARGIN-RIGHT: 5px
}
H2.catlist .fr {
	FONT-SIZE: 14px; FLOAT: right; FONT-WEIGHT: normal; MARGIN-RIGHT: 3px
}
#collectclass UL {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
#collectclass LI {
	FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 19%
}
#collectclass LI A {
	FONT-SIZE: 16px
}
#softbox UL {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
#softbox LI {
	OVERFLOW: hidden; HEIGHT: 90px; FLOAT: left; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 24%
}
#flink .fr {
	FONT-SIZE: 12px; FLOAT: right; FONT-WEIGHT: normal; COLOR: #666; MARGIN-RIGHT: 3px
}
#flink UL {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
#flink LI {
	HEIGHT: 22px; FLOAT: left; MARGIN-LEFT: 5px; LINE-HEIGHT: 22px; WIDTH: 22%
}
#botnav {
	BORDER-BOTTOM: #d0dae4 1px solid
}
#botnav #bntop {
	BORDER-TOP: #bce46c 1px solid; HEIGHT: 35px; LINE-HEIGHT: 35px; BACKGROUND-COLOR: #f7fdea
}
#botnav #bntop LI {
	FONT-SIZE: 16px; FONT-FAMILY: 'Microsoft Yahei','Simsun'; BORDER-BOTTOM: #c6d1dc 2px solid; FLOAT: left; COLOR: #616365; TEXT-ALIGN: center; WIDTH: 33%
}
#botnav #bntop LI.on {
	BORDER-BOTTOM: #6fa107 2px solid; COLOR: #6fa107
}
#bncontent {
	OVERFLOW: hidden; POSITION: relative; CLEAR: both; MIN-HEIGHT: 104px; WIDTH: 100%
}
#bnscroll {
	PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WIDTH: 300%
}
#bnscroll LI {
	FLOAT: left; WIDTH: 33%
}
#bnscroll LI A {
	HEIGHT: 30px; FLOAT: left; COLOR: #616365; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 25%
}
#bnscroll LI.bnfav A {
	HEIGHT: 100px; POSITION: relative; DISPLAY: inline-block
}
#bnscroll LI.bnfav A I {
	HEIGHT: 64px; BACKGROUND: url(../images/round_box_1.png) no-repeat -565px 0px; POSITION: absolute; MARGIN-LEFT: -32px; LEFT: 50%; WIDTH: 64px
}
.weixinbox {
	FONT-FAMILY: 'Microsoft Yahei','Simsun'; PADDING-BOTTOM: 5px
}
.weixinbox H3 {
	FONT-SIZE: 16px; HEIGHT: 30px; FONT-WEIGHT: normal; COLOR: #32a900; TEXT-ALIGN: center; LINE-HEIGHT: 30px
}
#resultbox .weixinbox H3 {
	FONT-SIZE: 16px; HEIGHT: 30px; FONT-WEIGHT: normal; COLOR: #32a900; TEXT-ALIGN: center; LINE-HEIGHT: 30px
}
.weixinbox LI {
	FLOAT: left; TEXT-ALIGN: center; WIDTH: 50%
}
.weixinbox LI A {
	FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 25px
}
#resultbox .weixinbox A {
	FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 25px
}
